<nav class="navbar">
    <div class="nav-content">
        <h1>Testing Bloggers</h1>
        <form>
            <input type="text" name="search" placeholder="Search">
        </form>
        <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs/create">Create Blog</a>
        </div>
    </div>
</nav>