<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="center">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, perspiciatis cupiditate doloribus aut adipisci ipsa facilis provident, aliquam eaque voluptates debitis corrupti, excepturi quis obcaecati nobis velit nulla dolore. Ipsam, earum. Laudantium corporis commodi deserunt amet ad repudiandae nulla quaerat? In exercitationem maxime a quibusdam! Ex velit fugiat debitis repellendus. Esse deleniti adipisci ipsa. Aliquam earum soluta sunt ipsa iure adipisci quasi laboriosam, harum sapiente eligendi impedit omnis molestiae? Maiores, sequi! Nam nemo ipsam adipisci impedit modi deserunt, id quod distinctio earum repellendus, odio perspiciatis quibusdam debitis, veritatis libero laboriosam quis? Cupiditate quibusdam atque architecto eaque et soluta nisi accusantium?</p>
    </div>
</body>
</html>