<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="center">
        <h2>Create New Blog</h2>
        <form>
            <input class="text" type="text" name="name" placeholder="Name">
            <input class="text" type="text" name="snippet" placeholder="snippet">
            <textarea class="text" placeholder="body" name="body">
            </textarea>
        </form>
    </div>
</body>
</html>