<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="center">
        <h2>Create New Blog</h2>
        <form action="/blogs" method="POST">
            <input class="text" type="text" id="title" name="title" placeholder="Name" required>
            <input class="text" type="text" id="snippit" name="snippet" placeholder="snippet" required>
            <textarea class="text" placeholder="body" id="body" name="body" required>
            </textarea>
            <button>Create Post</button>
        </form>
    </div>

    <script src="../frontend/app.js"></script>
</body>
</html>