<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="center">
        <h3><%= blog.title %></h3>
        <p><%= blog.body%></p>
        <button>Delete</button>
    </div>
</body>
</html>